aiohttp==3.8.5
aiosignal==1.3.1
alabaster==0.7.13
allennlp==0.9.0
anyio==3.7.1
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
async-timeout==4.0.3
asynctest==0.13.0
attrs==23.1.0
autocommand==2.2.2
Babel==2.12.1
backcall==0.2.0
base58==2.1.1
beautifulsoup4==4.12.2
bleach==6.0.0
blis==0.2.4
boto3==1.28.33
botocore==1.31.33
cached-path==0.3.2
cachetools==5.3.1
catalogue==2.0.9
certifi @ file:///C:/b/abs_85o_6fm0se/croot/certifi_1671487778835/work/certifi
cffi==1.15.1
charset-normalizer==3.2.0
checklist==0.0.11
cheroot==10.0.0
CherryPy==18.8.0
click==8.1.7
colorama==0.4.6
comm==0.1.4
conllu==1.3.1
cycler==0.11.0
cymem==2.0.7
datasets==1.18.4
debugpy==1.6.7.post1
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.7
docker-pycreds==0.4.0
docopt==0.6.2
docutils==0.19
editdistance==0.6.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz
entrypoints==0.4
exceptiongroup==1.1.3
fairscale==0.4.0
fastjsonschema==2.18.0
feedparser==6.0.10
filelock==3.3.2
flaky==3.7.0
Flask==2.2.5
Flask-Cors==4.0.0
fonttools==4.38.0
frozenlist==1.3.3
fsspec==2023.1.0
ftfy==6.1.1
future==0.18.3
gevent==22.10.2
gitdb==4.0.10
GitPython==3.1.32
google-api-core==2.11.1
google-auth==2.22.0
google-cloud-core==2.3.3
google-cloud-storage==1.44.0
google-crc32c==1.5.0
google-resumable-media==2.5.0
googleapis-common-protos==1.60.0
greenlet==2.0.2
h5py==3.8.0
huggingface-hub==0.1.2
idna==3.4
imagesize==1.4.1
importlib-metadata==6.7.0
importlib-resources==5.12.0
inflect==6.0.1
iniconfig==2.0.0
ipykernel==6.16.2
ipython==7.34.0
ipython-genutils==0.2.0
ipywidgets==8.1.0
itsdangerous==2.1.2
jaraco.collections==4.2.0
jaraco.context==4.3.0
jaraco.functools==3.7.0
jaraco.text==3.11.1
jedi==0.19.0
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
jsonpickle==3.0.2
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-server==1.24.0
jupyter_client==7.4.9
jupyter_core==4.12.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.8
kiwisolver==1.4.5
lxml==4.9.3
MarkupSafe==2.1.3
matplotlib==3.5.3
matplotlib-inline==0.1.6
mistune==3.0.1
more-itertools==9.1.0
multidict==6.0.4
multiprocess==0.70.15
munch==4.0.0
murmurhash==1.0.9
nbclassic==1.0.0
nbclient==0.7.4
nbconvert==7.6.0
nbformat==5.8.0
nest-asyncio==1.5.7
nltk==3.6.3
notebook==6.5.5
notebook_shim==0.2.3
numpy==1.21.6
numpydoc==1.5.0
overrides==3.1.0
packaging==23.1
pandas==1.3.5
pandocfilters==1.5.0
parsimonious==0.10.0
parso==0.8.3
pathy==0.10.2
patternfork-nosql==3.6
pdfminer.six==20221105
pickleshare==0.7.5
Pillow==9.5.0
pkgutil_resolve_name==1.3.10
plac==0.9.6
pluggy==1.2.0
portend==3.1.0
preshed==2.0.1
prometheus-client==0.17.1
prompt-toolkit==3.0.39
protobuf==4.24.1
psutil==5.9.5
pyasn1-modules==0.3.0
pycparser==2.21
Pygments==2.16.1
pyparsing==3.1.1
pyrsistent==0.19.3
pytest==7.4.0
python-dateutil==2.8.2
python-docx==0.8.11
pytorch-pretrained-bert==0.6.2
pytorch-transformers==1.1.0
pytz==2023.3
pywin32==306
pywinpty==2.0.10
pyzmq==24.0.1
qtconsole==5.4.3
QtPy==2.3.1
regex==2023.8.8
requests==2.31.0
responses==0.18.0
rsa==4.9
s3transfer==0.6.2
sacremoses==0.0.53
scikit-learn==1.0.2
scipy==1.7.3
Send2Trash==1.8.2
sentencepiece==0.1.99
six==1.16.0
sniffio==1.3.0
snowballstemmer==2.2.0
soupsieve==2.4.1
spacy==2.1.9
Sphinx==5.3.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.4.4
srsly==1.0.7
tempora==5.3.0
tensorboardX==2.6.2.2
terminado==0.17.1
thinc==7.0.8
threadpoolctl==3.1.0
tinycss2==1.2.1
tomli==2.0.1
torch==1.13.1+cu117
tornado==6.2
tqdm==4.66.1
traitlets==5.9.0
transformers==4.12.5
typer==0.4.2
typing_extensions==4.7.1
Unidecode==1.3.6
urllib3==1.26.16
wandb==0.12.21
wasabi==0.10.1
wcwidth==0.2.6
webencodings==0.5.1
websocket-client==1.6.1
Werkzeug==2.2.3
widgetsnbextension==4.0.8
wincertstore==0.2
word2number==1.1
yarl==1.9.2
zipp==3.15.0
zope.event==5.0
zope.interface==6.0
